python-dotenv
streamlit
pandas
openpyxl
# LangChain + RAG stack
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-unstructured
langchain-chroma
langchain-groq
sentence-transformers
unstructured
unstructured[pdf]
stripe
tavily-python